/* --------------------------------------Header-------------------------------------- */
body{
  margin: 0;
}

header{
  box-shadow: 0 3px 5px #cccccc;
  padding:8px 0;
  position: relative;
  z-index: 1;
}

.container{
  width: 1300px;
  margin: auto;


}

.title{
  list-style-type: none;
  font-size: 12px;
  margin: 0;
}

li.titlelist{
  display: inline;
  border-right: 1px solid #777777;

}

li.titlelist a{
  padding: 0px 9px;
  text-decoration: none;
  color: #333333;
}

li.titlelist a:hover{
  text-decoration:underline;
  color: #0066cc;
}

#signtype a{
  padding: 0;
  color: #0066cc;

}

#signtype a:last-child{
  padding-right: 9px;
}

.right{
  float: right;
}

.noborder{
  border-right: none !important;
}

#shopping{
  margin-top: -5px;
  padding: 0 15px;
}
#bell{
  margin-top: -5px;
  padding: 0 15px;
}

/* --------------------------------------Search-------------------------------------- */
#SearchDiv{
  width: 100%;
  height: 65px;
  overflow: hidden;
}

.BGColor{
  background-color: #F9F9F9;
}

.floatfix{
  clear:both;
}

#logo{
  float: left;
}

#search-button{
  float: left;
  width: 70px;
  font-size: 14px;
  color: #555555;
  border: none;
  background: #F9F9F9;
  margin-right: 15px;
}

#search-button:hover{

  color: #0066cc;

}


#arrow{
  position: relative;
  bottom: 35px;
  left: 40px;
}

#SearchForm{
  float: left;
  margin:10px 0 0 15px;

}

#SearchText{
  border-radius: 3px 0 0 3px;

  width: 630px;
  height:40px;
  box-sizing: border-box;

}

.text-style{

  font-size: 16px;
  color: #767676;
  padding: 10px 0 9px 8px;
  border: 1px solid #ddd;


}
#category{
  border-radius: 0 3px 3px 0;
  padding: 11px 10px;
  width: 180px;
  height:40px;
  box-sizing: border-box;
  background-color: #fff;
  margin-left: -4px;
}

.option{
  border: none;
  width: 100%;
  font-size: 12px;
  background-color: transparent;
}

.submit-ptn{
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: linear-gradient(to bottom,#0079bc,#00509b);
  color: #fff;
  padding: 8px 20px;
}

.submit-ptn:hover{
  background: #00509b;
}

#AdSearch{
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  margin-left: 10px;
}

#AdSearch:hover{
  color: #0066cc;

}
/* --------------------------------------Menu-------------------------------------- */
nav{
  width:100%;
  height: 35px;


  padding-top: 12px;
}

.up-down-border{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#menu-ul{
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 10px 0 11px 0;

}

.space{
  float: left;
  padding: 0 2%;
}

.todayborder{
  float: left;
  width: 1px;
  height: 24px;
  background-color: #ddd;

  margin: -5px 20px 0 20px;
}

.todaystyle a{
  font-weight: bold;
  padding:0 0 8px 0 !important;
  border-bottom: 2px solid #333;
}

.todaystyle a:hover{
  text-decoration: none !important;
  color: #333 !important;
}
/* --------------------------------------AD-------------------------------------- */
#ADsection{
  height: 402px;

  padding: 30px 0;
}

.adborder{
  border: 1px solid #333;
  box-sizing: border-box;

}

.ad1{
  float:left;
  height: 402px;
}

.ad23{
  float:left;
  height: 402px;
  width: 324px;

  position: relative;
}
#ad2{
  position: absolute;
  top: 0;
  right: 0;
}

#ad3{
  position: absolute;
  bottom: 0;
  right: 0;
}
/* --------------------------------------Item1-------------------------------------- */
#Item-section{
  width:100%;
  height: 647px;

  padding-bottom: 75px;
  overflow: hidden;
}

.Item-Bigtitle{
  height: 45px;
  font-weight: 400;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.Showitem{
  width: 100%;
  height: 602.5px;

  position: relative;
}

#Item1{
  width:585px;
  height: 602.5px;
  float: left;
}

.itemimg{
  width:585px;
  height: 420px;

}

.Itemimg1{
  float: left;
  width:445px;
  height: 420px;

  border-width: 1px 0 1px 1px;
  border-color: #333;
  border-style: solid;
  box-sizing: border-box;
  overflow: hidden;
}

#Itemimg1-1{
  height: 420px;
  overflow: hidden;
  position: relative;
}

.Itemimg2{
  float: left;
  width:140px ;
  height: 420px;
  box-sizing: border-box;
  overflow: hidden;
}

.Itemimgfix{

  float: left;
  width:140px;
  height: 140px;

  border-width: 1px 1px 0 1px;
  border-color: #333;
  border-style: solid;
  box-sizing: border-box;
}

.Itemimgfix:last-child{
  border-width: 1px;

}

/* --------------------------------------Item1Article-------------------------------------- */
article{

  color: #333333;
}

.itemtitle{
  font-weight: 400;
  font-size: 26px;

  margin: 18px 0 10px 0;
}

.description-container{
  width: 370px;
  height: 118px;
}

.product-details{
  font-weight: 400;
  font-size: 16px;
  word-break: break-all;

  line-height: 1.5em;
}

.readmore{
  display: inline-block;
  width: 28px;
  height: 28px;

  background-image: url("img/read.png");
  background-size: cover;

  vertical-align: middle;
}

.left-col{
  float: left;
  width: 440px;
}

.right-col{
  float: right;
  width: 140px;
}

.right-col-text{

  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: bold;

}

.right-col-container{

  padding-left: 8px;
  padding-right: 8px;

  margin: 0px;

  list-style-type: none;
}

.right-col-item{
  padding: 18px 0;

  border-bottom: 1px solid #ddd;
}

.right-col-item:last-child{
  border: none;
}

.right-col-item a:link{
  text-decoration:none;
  color: #0654BA;

}
.right-col-item a:hover{
  text-decoration:underline;

}

/* --------------------------------------Item2-------------------------------------- */

.rightsection{
  position: absolute;
  right: 0;
}

/* --------------------------------------DailyDeals-------------------------------------- */
#dailydeals{

  width: 100%;
  height: 530px;

  padding-bottom: 75px;
  border-bottom: 1px solid #ddd;

}

.box{
  width: 100%;
  height: 300px;

  padding: 25px 0 0 8px;

  vertical-align: middle;

  overflow: hidden;

  border: 1px solid #ddd;
  background-color: white;
  border-radius: 2px;

  margin-bottom: 80px;
}

.box-subcontent{
  float: left;

  width: 190px;
  margin: 0 24px;
}

.sale{
  width: 169px;

  border: 1px solid #333333;
}

.details{
  width: 180px;

  word-break: break-all;

  display: inline-block;

  font-size: 14px;
  padding: 8px 0 0 8px;

  color: black;

  text-decoration: none;
}

.details:hover{
  text-decoration: underline;
  color: #0654BA;
}

.price{

  padding: 8px 0 0 8px;
  margin: 0;

}

/* --------------------------------------NextPage-------------------------------------- */

.NextPage{
  text-align: center;

}

.NextPage-content{

  padding-top: 20px;
  display: inline-block;
}

.NextPage-content a{
  color: black;
  float: left;
  padding: 8px 16px;

  text-decoration: none;

  transition: background-color 0.3s ;

}

.NextPage-content a:hover:not(.active){

  background-color: #ddd;

}

.NextPage-content a.active{
  background-color: #4caf50;
  color: white;
}

/* --------------------------------------Collections-------------------------------------- */

#collections{
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  color: #777777;
  box-sizing: border-box;

}

#collections a{
  color: #0754BA;
  text-decoration: none;
}

#collections a:hover{
  text-decoration: underline;
}

/* --------------------------------------Footer-------------------------------------- */

footer{

  color: #777777;

}
